<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sleep Disorder Prediction</title>
</head>
<body>
    <h2>Enter your details to predict sleep disorder</h2>
    <form action="/predict" method="post">
        <!-- Input fields for each feature -->
        Age: <input type="number" name="Age"><br>
        Sleep Duration: <input type="number" step="0.1" name="Sleep_Duration"><br>
        Quality of Sleep: <input type="number" name="Quality_of_Sleep"><br>
        Physical Activity Level: <input type="number" name="Physical_Activity_Level"><br>
        Stress Level: <input type="number" name="Stress_Level"><br>
        Heart Rate: <input type="number" name="Heart_Rate"><br>
        Daily Steps: <input type="number" name="Daily_Steps"><br>
        Systolic: <input type="number" name="systolic"><br>
        Diastolic: <input type="number" name="diastolic"><br>
        Gender: 
        <select name="Gender">
            <option value="Female">Female</option>
            <option value="Male">Male</option>
        </select><br>

        <!-- Occupation Dropdown -->
        Occupation:
        <select name="Occupation">
            <option value="Accountant">Accountant</option>
            <option value="Doctor">Doctor</option>
            <option value="Engineer">Engineer</option>
            <option value="Lawyer">Lawyer</option>
            <option value="Manager">Manager</option>
            <option value="Nurse">Nurse</option>
            <option value="Sales Representative">Sales Representative</option>
            <option value="Salesperson">Salesperson</option>
            <option value="Scientist">Scientist</option>
            <option value="Software Engineer">Software Engineer</option>
            <option value="Teacher">Teacher</option>
        </select><br>

        <!-- BMI Category Dropdown -->
        BMI Category:
        <select name="BMI_Category">
            <option value="Normal">Normal</option>
            <option value="Obese">Obese</option>
            <option value="Overweight">Overweight</option>
        </select><br>

        <!-- Add Submit Button -->
        <input type="submit" value="Predict">
    </form>
</body>
</html>
